<div class="container content-area">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <form action="/unidad/editunidad/{{link.idUnidad}}" method="POST">
          <fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" value="{{link.NombreUnidad}}" type="text"
                valplaceholder="TITULO DE LA UNIDAD" name="NombreUnidad">
            </fieldset>
            <button class="btn btn-lg pull-xs-right btn-primary">
              Modificar Unidad
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>