<div class="container content-area">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <form action="/tema/edittema/{{link.idTema}}" method="POST">
          <fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" value="{{link.NombreTema}}" type="text"
                valplaceholder="TITULO DEL TEMA" name="NombreTema">
            </fieldset>
            <button class="btn btn-lg pull-xs-right btn-primary">
              Modificar Tema
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>