<div class="container content-area">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="banner text-center">
          <div class="container">
            <h1 class="logo-font">Agregar Modulo</h1>
          </div>
        </div>
        <form action="/modulo/addmodulo" method="POST">
          <fieldset>
            <fieldset class="form-group">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Seleccione Carrera
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {{#each carrera}}
                  <a class="dropdown-item" href="/modulo/addmodulo/{{idCarrera}}"
                    class="btn btn-secondary">{{NombreCurso}}</a>
                  {{/each}}
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <select class="form-control" id="selcurso" name="selcurso">
                <option selected>
                  Seleccione Curso
                </option>
                {{#each curso}}
                <option value="{{idCurso}}">{{NombreSubCurso}}</option>
                {{/each}}
              </select>
            </fieldset>
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="TITULO DEL MODULO" name="Nombre">
          </fieldset>
          <button class="btn btn-lg pull-xs-right btn-primary">
            Crear Modulo
          </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>