<div class="container content-area">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <form action="/modulo/editmodulo/{{link.idModulo}}" method="POST">
          <fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" value="{{link.Nombre}}" type="text"
                valplaceholder="TITULO DEL MODULO" name="Nombre">
            </fieldset>
            <button class="btn btn-lg pull-xs-right btn-primary">
              Modificar Modulo
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>