<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img height="600" width="900" class="d-block w-100"
                src="/images/carousel_active.jpg"
                alt="Second slide">
        </div>
        {{#each carousel}}
        <div class="carousel-item">
            <img height="600" width="900" class="d-block w-100"
                src={{direccion}}
                alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:#fff;background:#000">{{nombre}}</h5>
                <p style=" color:#fff ; background:#000">{{descripcion}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="card mb-3" style="max-width: 100%;padding: 2rem;  margin-bottom: 2rem;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://www.marcimex.com/arquivos/marcimex-quienes-somos.png?v=636630433395100000"
                class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">¿Quiénes somos?</h5>
                <p class="card-text">Las Tecnologías de y las organizaciones, dan lugar a la
                    implementación de una enorme cantidad de servicios y/o productos, y
                    una gran expectativa de crecimiento y demanda en la industria del
                    Intemet y desarrollo de sistemas computarizados (software). </p>

                <p class="card-text">"DesCo" es una empresa con centro de operaciones en la ciudad de
                    Florenica, Caqueta, Colombia, y sus actividades en proporcionar servicios
                    de desarrollo de software, Analisis y Auditoria en sistemas de informacion e
                    instalaciones de redes para su empresa.
                    Nuesbra empresa se encuentra conformada por un equipo de
                    en tecnologías de la información y computacionales, técnicos
                    altamente capacitados,
                    Contamos con la infraestructura más innovadora de equipo de cómputo y el
                    conocimiento necesario para cubrir las solicitudes de servicio
                    Implementamos servicios de tecnologi para su empresa, los cuales se
                    integran a los esquemas de operación de las empresas, mismos que
                    permiten actualizar y/o obtener una infraestructura tecnologica y de
                    conocimiento organizacional, que proporciona un alto nivel de
                    competitividad; todo esto, con el firme de incrementar el valor de
                    su empresa y apoyar a enfrentar en forma exitosa los retos de conquistar
                    nuevos mercados; y por ende, alcanzar metas de mayor productividad y
                    utilidad. </p>
            </div>
        </div>
    </div>
</div>

<div class="card" style="max-width: 100%;">
    <div class="card-header text-center">
        <p class="card-title h3">Servicios</p>
        <img src="https://fotos.subefotos.com/11002246b519d654e3ff9c10ed5ce7e0o.png" class="card-img" alt="...">
    </div>
</div>



<div class="card">
    <div class="card-body">
        <div class="card-header">
            <p class="text-center h3">Contactanos</p>
        </div>
        <img class="img-thumbnail" style="height: 250px; width: 100%;"
            src="http://www.radio6tenerife.com/wp-content/uploads/2015/08/contacto.jpg">
        <div class="row">
            <div class="card-body col-lg-4 col-md-4 col-sm-6">
                <p class="card-title h5">OSCAR FABIAN PATIÑO PERDOMO</p>
                <p class="card-text">CORREO: o.patino@udla.edu.co</p>
                <p class="card-text">CELULAR: +57 318 7155646</p>
                <p class="card-text"><small class="text-muted">ING SISTEMAS</small></p>
            </div>
            <div class="card-body col-lg-4 col-md-4 col-sm-6">
                <p class="card-title h5">ZANONI ALFREDO SALAS TOBON</p>
                <p class="card-text">CORREO: z.salas.edu.co</p>
                <p class="card-text">CELULAR: +57 313 4208041</p>
                <p class="card-text"><small class="text-muted">ING SISTEMAS</small></p>
            </div>
            <div class="card-body col-lg-4 col-md-4 col-sm-6">
                <p class="card-title h5">DANIEL ANDRES RESTREPO</p>
                <p class="card-text">CORREO: daniel_andres.03@outlook.com</p>
                <p class="card-text">CELULAR: +57 3102942491</p>
                <p class="card-text"><small class="text-muted">ING SISTEMAS</small></p>
            </div>
        </div>
    </div>
</div>
</div>

<div class="card" style="background: #355CB0; padding: 2rem;">
    <div class="row">
        <div class="col-md-6 text-left p-4">
            <p class="h5 text-white"> IMPLANTA SUEÑO</p>
            <span class="text-white">NO HAY META INALCANZABLE COMIENZA AHORA
                .</span>
        </div>
        <div class="col-md-6 text-center p-4">
            <img class="img-fluid rounded float-center" style="width: 50%; height: 100%;"
                src="https://www.10wallpaper.com/wallpaper/1366x768/1201/open_book_on_green_grass-summer_landscape_wallpaper_1366x768.jpg">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <img class="img-fluid rounded float-center" style="width: 50%; height: 100%;"
                src="https://www.pagepersonnel.es/sites/pagepersonnel.es/files/styles/large/public/ideas_pp.jpg?itok=Ve0vNy7J">

        </div>
        <div class="col-md-6 text-right p-4">
            <p class="h5 text-white">COMPARTE EL CONOCIMIENTO PARA LUCHAR
            </p><span class="text-white">No hay peor perdida que rendirse sin luchar</span>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 text-left p-4">
            <p class="h5 text-white">LUCHA POR TUS SUEÑOS, COMIENZA AQUÍ Y AHORA
            </p><span class="text-white">Forja tu camino, has los puentes, que si necesitas piedras acá
                tenemos
                muchas.</span>
        </div>
        <div class="col-md-6 text-center p-4">
            <img class="img-fluid rounded float-center" style="width: 50%; height: 100%;"
                src="https://assets.entrepreneur.com/content/3x2/2000/20170410144000-suenos.jpeg?width=700&crop=2:1">
        </div>
    </div>
</div>
