<div class="container content-area">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <form action="/curso/editcurso/{{link.idCurso}}" method="POST">
          <fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" value="{{link.NombreSubCurso}}" type="text"
                valplaceholder="TITULO DE LA CARRERA" name="NombreSubCurso">
            </fieldset>
            <button class="btn btn-lg pull-xs-right btn-primary">
              Modificar Curso
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>