<div class="container content-area">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="banner text-center">
                    <div class="container">
                        <h1 class="logo-font">Administrador de Cursos</h1>
                    </div>
                </div>
                <div class="container page text-center card-body">
                    {{#each Carrera}}
                    <div class="card  mb-3 mx-auto">
                        <div class="card-header">
                            <p class="h3">{{NombreCurso}}</h2>
                        </div>
                        <div class="card">
                            <img class="user-img" src="">
                            <div class="container">
                                <div class="row">
                                    {{#each Cursos}}
                                    <div class="card" style="width: 33.33%;">
                                        <div class="card-body">
                                            <p class="card-title h5">{{NombreSubCurso}}</h5>
                                                <a href="/curso/editcurso/{{idCurso}}"
                                                    class="btn btn-secondary">Editar</a>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="col-md-4 mx-auto">
                            <div class="card card-body text-center">
                                <p>No hay ninguna carrera creada </b>
                                    Para crear una ingrese a Administrar Carreras y despues a agregar carrera
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <a href="/curso/addcurso" class="btn btn-success btn-lg  mb-3">Nuevo Curso</a>
                </div>
            </div>
        </div>
    </div>