<nav class="navbar justify-content-between" style="background:#0B0B61; color:#FFFFFF">
  <a class="navbar-brand">Desarrollo Colectivo</a>
  <div class="form-inline">
    <a class="nav-link" href="#">Iniciar Sesión</a>
    <a class="nav-link" href="#">Registrar</a>
  </div>
</nav>