<main class="mdl-layout__content">
  <div class="page-content" style="margin: 10%; ">
    <!-- Your content goes here -->
    <div class="row" style="align-items: center">
      <form class="col s12" style="align-items: center">


        <div class="mdl-textfield mdl-js-textfield">
          <input id="email" type="email" class="validate">
          <label class="mdl-textfield__label" for="email">Email</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield">
          <input id="password" type="password" class="validate">
          <label for="password" class="mdl-textfield__label">Password</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <input id="password" type="password" class="validate" aria-describedby="passwordHelpInline">
          <label for="password" class="mdl-textfield__label">Password</label>
          <small id="passwordHelpInline" class="text-muted">
            Must be 8-20 characters long.
          </small>
        </div>




      </form>
    </div>

  </div>
</main>
</div>