<div class="page-content">
    <!-- Your content goes here -->
    <div class="row" style="align-items: center">
        <form action="/signin" method="post" class="col s12">
            <div class="mdl-textfield mdl-js-textfield">
                <input type="text" class="validate" name="idusuario" placeholder="username">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input type="password" class="validate" name="contrasena" placeholder="password">
            </div>
            <button>
                ingresar
            </button>
        </form>
    </div>

</div>