<div class="page-content">
    <!-- Your content goes here -->
    <div class="row" style="align-items: center">
        <form action="/signup" method="post" class="col s12">
            <div class="mdl-textfield mdl-js-textfield">
                <input type="text" class="validate" name="idusuario" placeholder="username">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input type="email" class="validate" name="correo" placeholder="email">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input type="password" class="validate" name="contrasena" placeholder="password">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input type="text" class="validate" name="idpersona" placeholder="numero de identificacion">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input type="text" class="validate" name="nombre1" placeholder="primer nombre">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input type="text" class="validate" name="apellido1" placeholder="primer apellido">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input type="text" class="validate" name="fechanacimiento" placeholder="fecha de nacimiento">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input type="text" class="validate" name="sexo" placeholder="sexo">
            </div>
            <button>
                Registrar
            </button>
        </form>
    </div>

</div>

