<div class="container content-area">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
        <form action="/carrera/addcurso" method="POST">
          <fieldset>
              <fieldset class="form-group">
                <label for="" class="label label-default">Seleccione Carrera:</label>
                <select class="form-control form-control-lg" id="carrera" name="carrera" >
                  {{#each carrera}}
                  <option value="{{idCarrera}}" onclick="GET">{{NombreCurso}}</option>
                  {{/each}}
                </select>
              </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="TITULO DEL CURSO" name="NombreCurso">
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="date" placeholder="Fecha Inicio" name="FechaInicio">
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="date" placeholder="Fecha Fin" name="FechaFin">
            </fieldset>

            <button class="btn btn-lg pull-xs-right btn-primary">
              Crear Curso
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>