<div class="editor-page p-4">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <form action="/links/add" method="POST">
          <fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="TITULO DEL TEMA" name="title">
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="url" placeholder="URL DEL VIDEO" name="videourl">
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="url" placeholder="URL DE LA IMAGEN" name="imageurl">
            </fieldset>

            <fieldset class="form-group">
              <textarea class="form-control" rows="8" placeholder="DESCRIBE EL TEMA BREVEMENTE"
                name="description"></textarea>
            </fieldset>

            <button class="btn btn-lg pull-xs-right btn-primary">
              Crear Tema
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>