<div class="container content-area">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="banner text-center">
                    <div class="container">
                        <h1 class="logo-font">Administrador de Carreras</h1>
                    </div>
                </div>
                <div class="container page text-center card-body">
                    {{#each links}}
                    <div class="row">
                        <div class="card-body  mb-3 mx-auto">
                            <a href="">
                                <h2 class="header">{{NombreCurso}}</h2>
                                <div class="card horizontal">
                                    <img class="user-img" src="">
                                    <div class="card-stacked">
                                        <div class="card-content">
                                            <p class="card-text mb-3"> {{DescripcionCurso}} </p>
                                            <a href="/carrera/editcarrera/{{idCarrera}}"
                                                class="btn btn-secondary">Editar</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{else}}
                        <div class="col-md-4 mx-auto">
                            <div class="card card-body text-center">
                                <p>No hay ninguna carrera creada </b>
                                    Para crear una presione el boton de nueva carrera
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <a href="/carrera/addcarrera" class="btn btn-success btn-lg  mb-3">Nueva Carrera</a>
                </div>
            </div>
        </div>
    </div>
</div>
